[submodule "configs/vanilla"]
	path = configs/vanilla
	url = https://github.com/mcplay-data/vanilla.git
[submodule "configs/db"]
	path = configs/db
	url = https://github.com/mcplay-data/db.git
[submodule "servers/vanilla"]
	path = servers/vanilla
	url = https://github.com/mcplay-data/vanilla.git
	branch = upstream
[submodule "configs/proxy"]
	path = configs/proxy
	url = https://github.com/mcplay-data/proxy.git
[submodule "servers/proxy"]
	path = servers/proxy
	url = https://github.com/mcplay-data/proxy.git
	branch = upstream
